body{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

nav{
    background-color: #FAF9F6;
    color: black;
    padding: 20px 50px;
}

.navTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search{
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;
}

.searchInput{
    border: none;
    background-color: transparent;

}

.searchInput::placeholder{
    color: lightgray;
}

.limitedOffer{
    font-size: 20px;
    border-bottom: 2px solid green;
    cursor: pointer;
}

.navBottom{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    position: relative;
    z-index: 10;
}

.menuItem{
    margin-right: 50px;
    cursor: pointer;
    color: gray;
    font-weight: 400;  
}

.slider{
    background: url("./images/home2Bg.jpg");
    overflow: hidden;
}

.sliderWrapper{
    display: flex;
    width: 500vw;
    transition: all 1.5s ease-in-out;
}

.sliderItem{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slideBg{
    width: 750px;
    height: 750px;
    border-radius: 50%;
    position: absolute;
}

.sliderImg{
    z-index: 1;
}

.sliderTitle{
    position: absolute;
    top: 10%;
    right: 5%;
    font-size: 60px;
    font-weight: 900;
    text-align: left;
    color: black;
    z-index: 1;
}

.sliderPrice{
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    color: black;
    border: 1px solid gray;
    z-index: 1;
}

.buyButton{
    position: absolute;
    top: 50%;
    right: 25%;
    font-size: 30px;
    font-weight: 900;
    color: black;
    border: 1px solid gray;
    background-color: white;
    z-index: 1;
    cursor: pointer;
}

.buyButton:hover{
    background-color: black;
    color: white;
}

.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.featureIcon{
    width: 50px;
    height: 50px;
}

.featureTitle{
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}

.featureDesc{
    color: gray;
    width: 50%;
    height: 100px;
    margin: 15px;
}

.product{
    height: 100vh;
    background-color: whitesmoke;
    position: relative;
}

.productImg{
    width: 50%;

}

.productDetails{
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;
}

.productTitle{
    font-size: 75px;
    font-weight: 900;
}

.productDesc{
    font-style: 24px;
    color: gray;
}

.colors,.sizes{
    display: flex;
    margin-bottom: 20px;

}

.size{
    padding: 5px 20px;
    border: 1px solid black;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.productButton{
    float: right;
    padding: 20px 50px;
    background-color: white;
    color: black;
    font-weight: 600;
    cursor: pointer;
}

.productButton:hover{
    background-color: black;
    color: white;
}